.lay_xCuuP3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:128px;
width:100%;
height:100%;
}
.lay_sRkjz{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_xEnKo1{
display:flex;
flex-direction:column;
gap:16px;
width:100%;
}
.lay_53a2v1{
width:100%;
height:24px;
}
.lay_zMpGD3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:fit-content;
height:fit-content;
}
.lay_28EIQ2{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
}
.lay_xm2IE3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:40%;
height:40%;
}
.lay_1I8dE4{
}
.lay_pU0mT{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
width:100%;
}
.lay_eKM8U{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:100%;
}
.lay_CQSaD{
width:100%;
}
.lay_f0VMy{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:36px;
}
.vis_79EnH2{
background-color:rgba(0,0,0,0);
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:0px 0px 0px 0px;
border-style: solid;
color:rgb(var(--text_color));
outline:none;
text-decoration:none;
}
.vis_oDvWj{
background-color:rgba(var(--tint), 0.1);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:4px;
text-decoration:none;
}
.vis_jBCHY{
background-color:rgba(var(--tint), 0.7);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_n390b3{
background-color:rgb(var(--background));
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgba(var(--text_color), 0.5);
text-decoration:none;
transition:transform 100ms ease-in-out, left 100ms ease-in-out;
}
.vis_P0Gvu3{
fill:rgb(var(--text_color));
stroke:rgb(var(--alternate_text_color));
text-decoration:none;
}
.vis_hS77q{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0);
text-decoration:none;
}
.vis_wszHN{
font-size:16px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
color:rgb(var(--alternate_text_color));
text-decoration:none;
}
.vis_WeikF3{
background-color:rgba(0,0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_05zW53{
font-size:16px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_SuCeE3{
background-color:rgba(0,0,0,0.8);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(0,0,0);
border-radius:8px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
animation:glitch 200ms linear normal  1;
}
.vis_aqVpO4{
text-decoration:none;
}
.vis_rHSk4{
font-size:14px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_d2yZ01{
background-color:rgba(var(--background), 0.5);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
text-decoration:none;
}
.vis_ltBTV{
font-size:14px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_DoKr11{
font-size:14px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.pos_McpnX1{
}
.pos_KiAVN{
position:absolute;
left:12px;
}
.pos_Ch7rg3{
position:relative;
}
.pos_fFhoX3{
position:absolute;
}
.mapa_sgnwh{
padding:0px 2px 0px 2px;
margin:0px 0px 0px 0px;
}
.mapa_WM2Wg4{
padding:16px 16px 16px 16px;
margin:0px 0px 0px 0px;
}
.mapa_CrkEb2{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_4hFg71{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_kbVzx3{
padding:6px 6px 6px 6px;
margin:0px 0px 0px 0px;
}
.mapa_Ooany3{
padding:2px 2px 2px 2px;
margin:0px 0px 0px 0px;
}
.mapa_GjRnP2{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.intr_3fjnS4:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Sans,monospace;
transform:scale(1.009765) ;
}
.intr_wsSb23:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Sans,monospace;
transform:scale(1.009765) ;
}
.intr_0Gx8s1:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Sans,monospace;
transform:scale(1.009765) ;
}
