.nav-item-icon{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-size:18px;
font-weight:700;
color:rgb(255,255,255);
text-decoration:none;
}
.nav-item{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:36px;
height:36px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
background-color:rgba(0,0,0,0.8);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(0,0,0);
border-radius:8px;
text-decoration:none;
}
.nav-item:hover{
background-color:rgb(255,255,0);
color:rgb(0,0,0);
text-decoration:none;
}
.nav-item:hover .nav-item-icon{
color:rgb(0,0,0);
}
.lay_UspPK3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:20px;
height:20px;
}
.lay_CC1qM3{
display:flex;
flex-direction:row;
width:fit-content;
}
.lay_tupWc4{
display:flex;
flex-direction:row;
width:100%;
height:100%;
}
.lay_Hi19x{
display:flex;
flex-direction:row;
}
.lay_Tnht62{
display:flex;
flex-direction:row;
width:38%;
}
.lay_eA1Ks1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:16px;
width:fit-content;
height:fit-content;
}
.lay_vZZHH{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:100%;
height:48px;
}
.lay_TG0ru{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:256px;
}
.lay_tckuW2{
display:flex;
flex-direction:row;
width:18px;
height:18px;
}
.lay_RUYhP4{
display:flex;
flex-direction:column;
gap:4px;
width:60%;
}
.lay_gnu8q{
display:flex;
flex-direction:row;
width:100%;
height:fit-content;
}
.lay_1wHVY1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
}
.lay_PvZcR1{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
width:fit-content;
height:24px;
}
.lay_LgvDn3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
height:48px;
overflow-x:scroll;
}
.lay_KMEsd3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
height:48px;
}
.lay_7CRe73{
display:flex;
flex-direction:column;
width:100%;
overflow-x:scroll;
}
.lay_h0Ih11{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:32px;
height:32px;
}
.lay_dkXDo{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
height:50px;
}
.lay_DWqSO4{
display:flex;
flex-direction:row;
flex: 1;
overflow-x:hidden;
overflow-y:hidden;
}
.lay_pbU2o2{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:90%;
height:48px;
}
.lay_f0VMy{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:36px;
}
.lay_ph40P4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100%;
}
.lay_ZIMNZ2{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
flex: 1;
height:60px;
}
.lay_69EhC4{
display:flex;
flex-direction:row;
gap:16px;
}
.lay_K4dMd2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
width:100%;
height:100%;
}
.lay_sxkaC{
display:flex;
flex-direction:row;
width:20px;
height:20px;
}
.lay_Y5uMD3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:140px;
}
.lay_UUtkY4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:8px;
width:256px;
}
.lay_Lcy2C4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
width:100%;
height:72px;
}
.lay_bCZp7{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
width:5%;
height:24px;
}
.lay_1EjZF4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:auto;
height:30px;
}
.lay_AowFz2{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:16px;
width:100%;
}
.lay_DXNE72{
width:16px;
height:16px;
}
.lay_AEgkh1{
display:flex;
flex-direction:row;
width:100%;
}
.lay_VQ15M3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:100%;
}
.lay_CQSaD{
width:100%;
}
.lay_Fs54f2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42px;
}
.lay_LVrlx{
display:flex;
flex-direction:column;
gap:4px;
width:100%;
}
.lay_tu6001{
display:flex;
flex-direction:column;
gap:16px;
width:70%;
}
.lay_yr25v2{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:90%;
}
.lay_5QdGp2{
display:flex;
flex-direction:column;
}
.lay_xZyoK{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:32px;
height:32px;
}
.lay_bOHUL4{
display:flex;
flex-direction:column;
gap:16px;
width:60%;
}
.lay_bVLZ83{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
gap:12px;
width:0px;
height:0px;
}
.lay_mAyNI3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:8px;
width:100%;
}
.lay_kSFpR4{
width:100%;
height:100%;
}
.lay_1I8dE4{
}
.lay_Zzn1S3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
width:100%;
height:100%;
}
.lay_eKM8U{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:100%;
}
.lay_T8LMB1{
display:flex;
flex-direction:column;
gap:4px;
width:30%;
}
.lay_qw8OQ3{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
width:100%;
height:fit-content;
}
.lay_7xFLz3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:4px;
}
.lay_v0E6X{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
height:100%;
}
.lay_CMebU2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:84px;
}
.lay_4ogiE4{
display:flex;
flex-direction:row;
width:256px;
height:256px;
}
.lay_xEnKo1{
display:flex;
flex-direction:column;
gap:16px;
width:100%;
}
.lay_D9PVT{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:90%;
}
.lay_zMpGD3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:fit-content;
height:fit-content;
}
.lay_4r2vl1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:200px;
height:fit-content;
}
.lay_dVo9Z3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
height:52px;
}
.lay_nRCD9{
display:flex;
flex-direction:row;
width:100%;
height:48px;
}
.lay_Du4fK{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:100%;
}
.lay_pU0mT{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
width:100%;
}
.lay_qmmqP1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
gap:16px;
width:100%;
height:100%;
}
.lay_pFGYY1{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
}
.lay_HF1xY4{
display:flex;
flex-direction:row;
width:0px;
height:6px;
}
.lay_rRHvE{
display:flex;
flex-direction:column;
gap:24px;
width:90%;
}
.lay_jfxcg4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
width:100%;
height:48px;
}
.lay_HXGdk2{
display:flex;
flex-direction:column;
gap:16px;
width:90%;
}
.lay_z3W144{
display:flex;
flex-direction:row;
gap:2px;
width:100%;
flex-wrap:wrap;
}
.lay_r9Ada4{
width:100%;
height:60px;
}
.lay_PqEkO3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
width:100%;
}
.lay_HKTla3{
display:flex;
flex-direction:column;
width:100%;
}
.lay_EFrb13{
display:flex;
flex-direction:row;
width:5%;
}
.lay_nVKK41{
text-align:center;
}
.lay_a8xNu3{
display:flex;
flex-direction:row;
width:58%;
}
.lay_wUjZo2{
display:flex;
flex-direction:column;
gap:8px;
}
.lay_vekkG4{
display:flex;
flex-direction:row;
width:70%;
}
.lay_NkDwe3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
gap:8px;
width:8%;
}
.lay_bLBmA3{
display:flex;
flex-direction:row;
gap:2px;
width:100%;
}
.lay_cZ1KB4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100%;
height:512px;
}
.lay_sRkjz{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_AZQdJ{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:8px;
width:100%;
}
.lay_Vknxi1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
}
.lay_yXcvc{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:128px;
}
.lay_sc54g{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:100%;
height:100%;
}
.lay_lMdB34{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100%;
height:52px;
}
.lay_ZtX241{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:4px;
flex: 1;
}
.lay_UgtUO{
display:flex;
flex-direction:column;
width:90%;
}
.lay_bzZDW{
display:flex;
flex-direction:row;
width:600px;
height:300px;
}
.lay_qv2ew{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:36px;
height:36px;
}
.lay_Hpk8N2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:fit-content;
height:24px;
}
.lay_k4GpJ{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:24px;
height:24px;
}
.lay_SnP052{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:30%;
}
.lay_28EIQ2{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
}
.lay_OLAhG1{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
width:100%;
height:100%;
}
.lay_9z7IN2{
display:flex;
flex-direction:row;
gap:8px;
width:100%;
}
.lay_eqOvS2{
display:flex;
flex-direction:row;
width:100%;
height:6px;
}
.vis_DYS554{
background-color:rgba(245,245,245,0.2);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_color));
border-radius:12px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_cwvhX3{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:6px;
box-shadow:0px 0px 0px 2px rgba(var(--tint), 0.1);
text-decoration:none;
}
.vis_JQKTV1{
font-size:16px;
font-weight:700;
color:rgb(var(--alternate_text_color));
text-decoration:none;
}
.vis_jBCHY{
background-color:rgba(var(--tint), 0.7);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_n390b3{
background-color:rgb(var(--background));
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgba(var(--text_color), 0.5);
text-decoration:none;
transition:transform 100ms ease-in-out, left 100ms ease-in-out;
}
.vis_3SOxb4{
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:4px;
color:rgb(140,140,140);
text-decoration:none;
}
.vis_np2Kr{
font-size:18px;
font-weight:300;
text-decoration:none;
}
.vis_yuBBY4{
font-size:14px;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_qspGX4{
background-color:rgba(245,245,245,0.2);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:99px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_fIiXX2{
font-size:14px;
font-weight:700;
text-decoration:none;
}
.vis_wszHN{
font-size:16px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
color:rgb(var(--alternate_text_color));
text-decoration:none;
}
.vis_IOOLC1{
background-color:rgba(0,0,0,0);
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(228,228,228);
text-decoration:none;
transition:height 150ms ease-in-out;
}
.vis_MXin43{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--alternate_background));
border-radius:99px;
text-decoration:none;
}
.vis_N6lXh2{
background-color:rgb(255,255,255);
background-image:radial-gradient(circle, rgba(0,0,0,0.3) 0.5px, transparent 0px);
background-size: 6px 6px;
background-position: center center;
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:4px;
box-shadow:0px 2px 2px 0px rgba(0,0,0,0.1);
text-decoration:none;
transition:transform 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19), background_color 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.vis_aqVpO4{
text-decoration:none;
}
.vis_75sEN2{
font-size:14px;
text-decoration:none;
}
.vis_UQRjP2{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_Bkf5e4{
background-color:rgb(var(--background));
cursor:pointer;
font-size:14px;
font-weight:300;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:4px;
color:rgb(var(--text_color));
text-decoration:none;
transition:200ms ease;
}
.vis_7lj7e2{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:4px;
box-shadow:0px 0px 4px 2px rgba(97,97,97,0.1);
text-decoration:none;
transition:transform 100ms ease;
}
.vis_uAk7B4{
background-color:rgba(0,0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_DoKr11{
font-size:14px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_1u1Ro2{
background-color:rgba(0,0,0,0.8);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(0,0,0);
border-radius:8px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
animation:glitch 200ms linear normal  1;
}
.vis_RIHWc4{
font-size:18px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_0kAfU2{
background-color:rgba(var(--tint), 0.7);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:12px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_fzWBM2{
font-size:16px;
font-family:Montserrat;
text-decoration:none;
}
.vis_XvR7D{
background-color:rgba(0,0,0,0);
cursor:pointer;
font-size:14px;
font-weight:300;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:4px;
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_6nyGl1{
background-color:rgba(0,0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_oDvWj{
background-color:rgba(var(--tint), 0.1);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:4px;
text-decoration:none;
}
.vis_ly1CN4{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
text-decoration:none;
}
.vis_kdpSX{
background-color:rgb(0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:99px;
text-decoration:none;
}
.vis_rP0fw{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:0px 2px 2px 0px rgba(0,0,0,0.1);
text-decoration:none;
transition:100ms ease;
}
.vis_qmmDJ1{
background-color:rgba(245,245,245,0.2);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:99px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_39PXh1{
font-size:18px;
font-weight:300;
color:rgba(var(--text_color), 0.5);
text-decoration:none;
}
.vis_6vxRg3{
font-size:72px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_hS77q{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0);
text-decoration:none;
}
.vis_axDsO1{
background-color:rgba(var(--tint), 0.7);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:12px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_CnlQE1{
background-color:rgb(var(--background));
font-size:16px;
font-family:Montserrat;
font-weight:300;
color:rgba(var(--text_color), 0.5);
text-decoration:none;
transition:transform 100ms ease-in-out, scale 100ms ease-in-out, left 100ms ease-in-out;
}
.vis_Tv7Za1{
stroke:rgb(var(--text_color));
text-decoration:none;
}
.vis_g0gmS2{
background-color:rgba(245,245,245,0.2);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_CGJNE3{
background-color:rgba(0,0,0,0);
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_efkBg3{
font-size:16px;
font-weight:700;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_EQXTI4{
text-decoration:none;
}
.vis_5T36A{
background-color:rgba(245,245,245,0.2);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:99px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_sNQbO1{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_hDcDE3{
background-color:rgba(var(--tint), 0.7);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_eJfG32{
backdrop-filter:blur(2px);
text-decoration:none;
}
.vis_isDVL1{
background-color:rgb(var(--background));
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_79EnH2{
background-color:rgba(0,0,0,0);
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:0px 0px 0px 0px;
border-style: solid;
color:rgb(var(--text_color));
outline:none;
text-decoration:none;
}
.vis_W8eCU{
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgb(140,140,140);
text-decoration:none;
}
.vis_FPvFs3{
font-size:16px;
font-family:Montserrat;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_Ue2ic1{
background-color:rgba(0,0,0,0);
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:11px;
text-decoration:none;
}
.vis_sCIOt3{
background-color:rgba(0,0,0,0);
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
color:rgb(var(--text_color));
outline:none;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0);
text-decoration:none;
}
.vis_0xuro{
font-size:12px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_yS0mN3{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgba(0,0,0,0);
list-style:none;
text-decoration:none;
}
.vis_aAZt52{
font-size:16px;
font-weight:300;
text-decoration:none;
}
.vis_T16fP4{
background-color:rgba(0,0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_U97H32{
font-size:16px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
border-width:1px 1px 3px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:6px;
color:rgb(var(--text_color));
outline:none;
text-decoration:none;
resize:none;
}
.vis_wUOvQ3{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:0px 2px 0px 0px rgba(0,0,0,0.05);
text-decoration:none;
}
.vis_WeikF3{
background-color:rgba(0,0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_RusrG3{
background-color:rgba(245,245,245,0.2);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:99px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_muvm83{
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgba(128,128,128,0.7);
text-decoration:none;
}
.vis_fLEVj{
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_H7U9z3{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:6px;
text-decoration:none;
transition:100ms ease;
}
.vis_jBRfB4{
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
text-decoration:none;
}
.vis_nKxxZ3{
background-color:rgb(var(--background));
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgba(var(--text_color), 0.5);
text-decoration:none;
transition:transform 100ms ease-in-out, scale 100ms ease-in-out, left 100ms ease-in-out;
}
.vis_K5Kov3{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(var(--text_color), 0.1);
border-radius:8px;
box-shadow:0px 0px 4px 2px rgba(var(--text_color), 0.05);
text-decoration:none;
}
.vis_jteJx{
background-color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_dFXzU2{
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_iWKjh2{
font-size:14px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
color:rgb(var(--alternate_text_color));
text-decoration:none;
}
.vis_pxi7P2{
font-size:16px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_nhPHj3{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0);
text-decoration:none;
}
.vis_5wq881{
background-color:rgb(var(--border_color_light));
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:4px;
text-decoration:none;
transition:background_color 100ms ease-in-out;
}
.vis_sto5N3{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
text-decoration:none;
}
.vis_Qszuw3{
font-size:24px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_naJTK{
background-color:rgba(0,0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_tlq6W2{
font-size:16px;
font-weight:300;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_C8tbf4{
background-color:rgb(var(--background));
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_FYK3t{
font-size:16px;
text-decoration:none;
}
.vis_2t4YU4{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:6px;
box-shadow:0px 0px 0px 2px rgba(0,0,0,0);
text-decoration:none;
}
.vis_99jDB1{
background-color:rgba(245,245,245,0.2);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:99px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_Dwb864{
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:5px;
text-decoration:none;
}
.vis_i2ZfQ4{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
text-decoration:none;
}
.vis_05zW53{
font-size:16px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_ow62l{
font-size:12px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_TRq0S1{
font-size:16px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_F9Zyd{
background-color:rgba(0,0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:4px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_0ZNEu1{
font-size:12px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_lYxj43{
background-color:rgb(var(--border_color_light));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:99px;
text-decoration:none;
}
.vis_Jqqr63{
font-size:16px;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
border-radius:12px;
color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_rHSk4{
font-size:14px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_H7CDx{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_7VCdX1{
background-color:rgba(245,245,245,0.2);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_color));
border-radius:12px;
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3),0px 1px 3px 0px rgba(0,0,0,0.1);text-decoration:none;
transition:100ms ease;
}
.vis_d2yZ01{
background-color:rgba(var(--background), 0.5);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
text-decoration:none;
}
.vis_I2hbN4{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0);
text-decoration:none;
transition:100ms ease;
}
.vis_ltBTV{
font-size:14px;
font-family:IBM Plex Sans,monospace;
font-weight:300;
color:rgb(255,255,255);
text-decoration:none;
}
.pos_0w4jX4{
position:absolute;
top:6px;
left:12px;
}
.pos_McpnX1{
}
.pos_2Ilpn{
position:absolute;
top:0px;
left:0px;
}
.pos_vehjM4{
position:absolute;
top:6px;
right:12px;
}
.pos_a2ZiI2{
position:absolute;
top:-6px;
left:0px;
}
.pos_GxJgd2{
position:absolute;
left:36px;
}
.pos_alsPv2{
position:absolute;
top:0px;
left:0%;
z-index:1000;
}
.pos_nNbLJ1{
position:absolute;
z-index:1000;
}
.pos_O9rB21{
position:fixed;
top:24px;
right:24px;
z-index:9999;
}
.pos_JzMrz1{
position:absolute;
top:0%;
left:0%;
}
.pos_fFPKW{
position:relative;
z-index:99;
}
.pos_Ch7rg3{
position:relative;
}
.pos_KiAVN{
position:absolute;
left:12px;
}
.pos_cJpgQ1{
position:absolute;
left:24px;
}
.pos_VXw4M2{
position:absolute;
left:42px;
}
.pos_hN2RC1{
position:fixed;
top:0px;
right:0px;
left:0px;
z-index:999;
}
.pos_fFhoX3{
position:absolute;
}
.mapa_sgnwh{
padding:0px 2px 0px 2px;
margin:0px 0px 0px 0px;
}
.mapa_jdMNN4{
padding:0px 9px 0px 9px;
margin:0px 0px 0px 0px;
}
.mapa_CrkEb2{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_rPfvm1{
padding:8px 8px 8px 8px;
margin:0px 0px 0px 0px;
}
.mapa_Ty9Wh2{
padding:8px 0px 8px 0px;
margin:0px 0px 0px 0px;
}
.mapa_obiMi2{
padding:0px 50px 0px 50px;
margin:0px 0px 0px 0px;
}
.mapa_EdgD14{
padding:0px 18px 0px 18px;
margin:0px 0px 0px 0px;
}
.mapa_dydCF{
padding:0px 0px 0px 0px;
margin:2px 0px 2px 0px;
}
.mapa_x8DNe2{
padding:12px 0px 12px 0px;
margin:0px 0px 0px 0px;
}
.mapa_Ooany3{
padding:2px 2px 2px 2px;
margin:0px 0px 0px 0px;
}
.mapa_GjRnP2{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.mapa_kbVzx3{
padding:6px 6px 6px 6px;
margin:0px 0px 0px 0px;
}
.mapa_RM5YV3{
padding:0px 8px 0px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3GodU4{
padding:0px 0px 0px 0px;
margin:0px 30px 0px 0px;
}
.mapa_WM2Wg4{
padding:16px 16px 16px 16px;
margin:0px 0px 0px 0px;
}
.mapa_ZJR9B1{
padding:10px 12px 10px 12px;
margin:0px 0px 0px 0px;
}
.mapa_Kbi5Z1{
padding:8px 18px 8px 18px;
margin:0px 0px 0px 0px;
}
.mapa_zc3VE2{
padding:8px 40px 8px 40px;
margin:0px 0px 0px 0px;
}
.mapa_jarwO1{
padding:0px 0px 0px 0px;
margin:0px 12px 0px 0px;
}
.mapa_oqVwJ1{
padding:1px 1px 1px 1px;
margin:0px 0px 0px 0px;
}
.mapa_hW4aM4{
padding:8px 10px 8px 10px;
margin:0px 0px 0px 0px;
}
.mapa_4hFg71{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_4jFby3{
padding:2px 4px 2px 4px;
margin:0px 0px 0px 0px;
}
.mapa_tFMrw3{
padding:4px 4px 4px 4px;
margin:0px 0px 0px 0px;
}
.mapa_n76d41{
padding:32px 32px 32px 32px;
margin:0px 0px 0px 0px;
}
.intr_z1s4l1:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_YvsNm3:hover{
background-color:rgb(var(--background));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_KNROO:hover{
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.040039) ;
}
.intr_wsSb23:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_wEKOA3:hover{
background-color:rgb(255,255,0);
text-decoration:none;
animation:glitch 200ms linear normal  1;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_4Pwpg2:hover{
background-color:rgba(var(--tint), 0.8);
color:rgb(var(--background));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_cK86N2:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_KMSW91:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
box-shadow:0px 0px 0px 3px rgba(var(--tint), 0.2);
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_B02QS:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color));
border-radius:12px;
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_3fjnS4:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_nnLRo2:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_oTigJ2:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_EfGTt:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_ecSxp3:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_mT3cM:hover{
background-color:rgba(0,0,0,0.05);
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_xu3IH3:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_gQy0v1:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:99px;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.099609) ;
}
.intr_3IfnC1:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_81j173:hover{
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_cyYKa1:hover{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--text_color));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_bzfvQ4:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:12px;
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_1Dwhd:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_rnhBd3:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
.intr_0Gx8s1:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.009765) ;
}
