:root {
--border_color:38,38,38;;
--text_color:0,0,0;;
--text:0,0,0;;
--background:255,255,255;;
--primary:255,255,255;;
--secondary:0,0,0;;
--font_family:Montserrat;
--btn_color:33,8,255;;
--tint:0,43,255;;
--dark_tint:2,0,137;;
--text_tint_color:255,255,255;;
--alternate_tint:33,8,255;;
--btn_tint:255,56,56;;
--dark_text:253,253,253;;
--form_input_border_color:233,233,233;;
--danger:255,78,51;;
--alternate_background:38,38,38;;
--alternate_border_color:38,38,38;;
--alternate_text_color:255,255,255;;
--logo:255,255,255;;
--gradient_start_0stop_color:72,0,255;;
--gradient_start_100stop_color:122,56,255;;
--gradient_end_0stop_color:255,224,158;;
--gradient_end_100stop_color:255,255,255;;
--icon_color:162,162,162;;
--image_bg:255,255,255;;
--code_background:255,255,255;;
--highlight_color:243,243,243;;
--border_color_light:228,228,228;;
--grid_color:246,246,246;;
--code_text_color:228,231,238;;
--code_function_color:255,237,132;;
--code_keyword_color:0,43,255;;
--disabled:162,162,162;;
--light_text:183,183,183;;
--code_tint_color:132,255,237;;
--code_comment_color:169,169,169;;
--code_string_color:196,162,98;;
--code_type_color:125,118,132;;
--code_component_color:255,0,255;;
--code_operator_color:86,86,86;;
--code_identifier_color:46,59,90;;
--code_is_added_color:22,223,143;;
--chart_bar_color:33,33,33;;
--text_muted:113,113,122;;
}
[data-theme="dark"] {
--border_color:39,39,42;;
--text_color:234,234,234;;
--text:234,234,234;;
--background:15,15,15;;
--primary:0,0,0;;
--secondary:255,255,255;;
--font_family:Montserrat;
--btn_color:255,255,21;;
--tint:194,254,10;;
--dark_tint:213,225,0;;
--text_tint_color:194,254,10;;
--alternate_tint:99,56,255;;
--btn_tint:255,56,56;;
--dark_text:11,11,11;;
--form_input_border_color:39,39,42;;
--danger:255,78,51;;
--alternate_background:38,38,38;;
--alternate_border_color:255,255,255;;
--alternate_text_color:15,15,15;;
--logo:15,15,15;;
--gradient_start_0stop_color:238,255,0;;
--gradient_start_100stop_color:204,255,0;;
--gradient_end_0stop_color:255,255,255;;
--gradient_end_100stop_color:255,255,255;;
--icon_color:72,72,72;;
--image_bg:15,15,15;;
--code_background:24,24,24;;
--highlight_color:39,39,42;;
--border_color_light:30,30,30;;
--grid_color:30,30,30;;
--code_text_color:246,245,251;;
--code_function_color:179,146,240;;
--code_keyword_color:249,117,131;;
--disabled:50,51,58;;
--light_text:33,8,255;;
--code_tint_color:77,165,255;;
--code_comment_color:169,169,169;;
--code_string_color:159,156,70;;
--code_type_color:129,126,159;;
--code_component_color:181,239,138;;
--code_operator_color:66,66,66;;
--code_identifier_color:82,92,115;;
--code_is_added_color:8,84,54;;
--chart_bar_color:39,39,39;;
--text_muted:113,113,122;;
}
