.lay_DNi8R1{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
width:100.00%;
flex-shrink: 0;
}
.lay_h9qyR1{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:64px;
width:30.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_CC1qM3{
display:flex;
flex-direction:row;
width:fit-content;
flex-shrink: 0;
}
.lay_xSV7v1{
display:flex;
flex-direction:column;
gap:16px;
width:100.00%;
flex-shrink: 0;
height:50.00%;
flex-shrink: 0;
}
.lay_Hi19x{
display:flex;
flex-direction:row;
}
.lay_OWszu3{
display:flex;
flex-direction:row;
width:14.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_f9Iec{
text-align:center;
}
.lay_j1WNg1{
display:flex;
flex-direction:column;
gap:16px;
}
.lay_IXl2H3{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:1080.00px;
flex-shrink: 0;
}
.lay_qvytS{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:72px;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_tqK4p3{
width:48.00px;
height:48.00px;
}
.lay_hfcn54{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
width:100.00%;
flex-shrink: 0;
}
.lay_RsFFE3{
width:30.00%;
height:fit-content;
}
.lay_4zOGB{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:50.00%;
flex-shrink: 0;
height:38.00px;
flex-shrink: 0;
}
.lay_lUumd1{
display:flex;
flex-direction:column;
width:14.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_j73IP1{
width:100.00%;
height:100.00%;
}
.lay_GGkn52{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:55.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
}
.lay_nbCSp1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
width:90.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
}
.lay_iRF764{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:70.00%;
flex-shrink: 0;
}
.lay_k17UT4{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:70.00%;
flex-shrink: 0;
height:38.00px;
flex-shrink: 0;
}
.lay_02t2j{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
flex: 1;
min-width: 0;
height:fit-content;
flex-shrink: 0;
}
.lay_gUiP44{
width:80.00%;
height:100.00%;
}
.lay_m01Na3{
width:14.00px;
height:14.00px;
}
.lay_OQSOa2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:40.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_Zh7CO{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:32px;
width:100.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_CQSaD{
width:100.00%;
}
.lay_bjyfY3{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:30.00%;
flex-shrink: 0;
}
.lay_4zlTI{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:90.00%;
flex-shrink: 0;
flex: 1;
min-height: 0;
}
.lay_3TY5J3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:12px;
width:70.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_RnK9f1{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}
.lay_PNZMO3{
}
.lay_cBkoL{
display:flex;
flex-direction:column;
gap:24px;
width:70.00%;
flex-shrink: 0;
}
.lay_XaShn3{
position: fixed; position-area: center right; }
.lay_odoqC1{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-end;
}
.lay_CenWL3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_Gdcmu1{
width:30.00%;
height:30.00%;
}
.lay_WAJEb3{
width:100.00%;
height:fit-content;
}
.lay_t5OKY{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lay_yMYoc2{
width:24.00px;
}
.lay_zKcgy2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
width:40.00%;
flex-shrink: 0;
}
.lay_hlUWK2{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
height:100.00%;
flex-shrink: 0;
}
.lay_5T1361{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:22.50px;
flex-shrink: 0;
}
.lay_UMIkr{
display:flex;
flex-direction:column;
gap:24px;
width:fit-content;
flex-shrink: 0;
height:50.00%;
flex-shrink: 0;
}
.lay_TrVza3{
display:flex;
flex-direction:row;
width:40.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_Eyd7H3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:100.00%;
flex-shrink: 0;
}
.lay_Annfr2{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_3iUeZ{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:60.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_EDfxR3{
width:10.00%;
}
.lay_NmlFA4{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:90.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_geRE14{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:38.00px;
flex-shrink: 0;
}
.lay_yIkX62{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:fit-content;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_uix3P4{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:100.00%;
flex-shrink: 0;
}
.lay_QJy9D4{
display:flex;
flex-direction:column;
gap:12px;
width:100.00%;
flex-shrink: 0;
height:95.00%;
flex-shrink: 0;
overflow-y:scroll;
}
.lay_QG7Fv3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:24px;
width:40.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_o7kuT3{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:450.00px;
flex-shrink: 0;
}
.lay_2cgBG3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:92.00%;
flex-shrink: 0;
height:6.00%;
flex-shrink: 0;
}
.lay_XPGVo2{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:0.00px;
flex-shrink: 0;
}
.lay_jizS31{
text-align:center;
flex: 1;
min-width: 0;
}
.lay_egUEe2{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_d0VRn2{
display:flex;
flex-direction:column;
gap:12px;
width:16.00%;
flex-shrink: 0;
height:40.00%;
flex-shrink: 0;
}
.lay_xKbwI4{
display:flex;
flex-direction:column;
gap:32px;
}
.lay_an4Nz{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:32px;
}
.lay_S7TNN3{
width:100.00%;
height:100.00%;
aspect-ratio:16 / 9;
}
.lay_AAqfn3{
width:100.00%;
height:fit-content;
}
.lay_4FZD34{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
overflow-x:hidden;
overflow-y:scroll;
}
.lay_oSHHV{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
}
.lay_W73Dz3{
width:64.00px;
height:28.00px;
}
.lay_ihMZH4{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_2TkWG4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
}
.lay_q8rEj1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
flex: 1;
min-height: 0;
overflow-y:scroll;
}
.lay_GfoIA1{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:40.00%;
flex-shrink: 0;
height:80.00%;
flex-shrink: 0;
}
.lay_afHcj1{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
height:50.00px;
flex-shrink: 0;
}
.lay_ph40P4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100.00%;
flex-shrink: 0;
}
.lay_erITT4{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:80.00%;
flex-shrink: 0;
}
.lay_ZaWBU4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:22.00px;
flex-shrink: 0;
height:22.00px;
flex-shrink: 0;
}
.lay_55FOq1{
display:flex;
flex-direction:column;
gap:16px;
width:100.00%;
flex-shrink: 0;
}
.lay_9Tg063{
width:16.00px;
height:16.00px;
}
.lay_tdxpO{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
width:20.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_Sxijj3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:30.00%;
flex-shrink: 0;
}
.lay_t89xb4{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:472.50px;
flex-shrink: 0;
}
.lay_9gWVG{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
overflow-x:hidden;
overflow-y:hidden;
}
.lay_G2qHX2{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:80.00%;
flex-shrink: 0;
}
.lay_si0Hc3{
display:flex;
flex-direction:row;
height:24.00px;
flex-shrink: 0;
}
.lay_Xjgb34{
display:flex;
flex-direction:column;
gap:8px;
width:100.00%;
flex-shrink: 0;
}
.lay_1I8dE4{
}
.lay_Eehab1{
display:flex;
flex-direction:row;
gap:16px;
}
.lay_R9QM34{
display:flex;
flex-direction:column;
width:40.00%;
flex-shrink: 0;
}
.lay_cipmQ1{
display:flex;
flex-direction:column;
gap:8px;
width:100.00%;
flex-shrink: 0;
height:95.00%;
flex-shrink: 0;
overflow-y:scroll;
}
.lay_Vrv2d2{
text-align:center;
width:40.00%;
}
.lay_OG6Dc2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}
.lay_0yRDz2{
display:flex;
flex-direction:row;
gap:16px;
}
.lay_lT8SV3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80.00%;
flex-shrink: 0;
}
.lay_DgBhg2{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
height:6.00%;
flex-shrink: 0;
}
.lay_WGV0Q2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42.00px;
flex-shrink: 0;
height:42.00px;
flex-shrink: 0;
}
.lay_LsrmU{
text-align:center;
}
.lay_MNY7F{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:flex-start;
width:100.00%;
flex-shrink: 0;
flex: 1;
min-height: 0;
}
.lay_48scL1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:50.00%;
flex-shrink: 0;
flex-wrap:wrap;
}
.lay_K5w7u3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:160.00px;
flex-shrink: 0;
height:45.00px;
flex-shrink: 0;
}
.lay_is06t{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-end;
width:100.00%;
flex-shrink: 0;
height:10.00%;
flex-shrink: 0;
}
.lay_qVvW83{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:20px;
width:100.00%;
flex-shrink: 0;
height:100.00px;
flex-shrink: 0;
}
.lay_MymkL3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_u0Lld{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
}
.lay_DLEtj3{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_q9cYN3{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_Mnd8c4{
display:flex;
flex-direction:column;
align-items:flex-end;
justify-content:flex-end;
}
.lay_q2bOd3{
display:flex;
flex-direction:column;
gap:32px;
width:65.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_9Micz2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_w76x84{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:16px;
width:100.00%;
flex-shrink: 0;
height:90.00%;
flex-shrink: 0;
}
.lay_hhXQ03{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:56.00px;
flex-shrink: 0;
height:56.00px;
flex-shrink: 0;
}
.lay_xiBot1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
}
.lay_EV1UJ4{
display:flex;
flex-direction:column;
gap:16px;
}
.lay_jXzf62{
}
.lay_j3qXP4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:45.00px;
flex-shrink: 0;
}
.lay_FQDJS1{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
height:30.00px;
flex-shrink: 0;
}
.lay_2lJXK{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:48.00%;
flex-shrink: 0;
}
.lay_ODvvU3{
display:flex;
flex-direction:column;
gap:24px;
width:60.00%;
flex-shrink: 0;
}
.lay_tnxGL3{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:967.50px;
flex-shrink: 0;
}
.lay_2tI5F1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:42px;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_U5b1u1{
width:18.00px;
height:18.00px;
}
.lay_4PUDp2{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
height:22.50px;
flex-shrink: 0;
}
.vis_JKUZM3{
font-size:12px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_6g8yU{
fill:rgb(var(--text_color));
text-decoration:none;
}
.vis_obF8a3{
stroke:rgb(var(--tint));
text-decoration:none;
}
.vis_0e7A4{
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_qkbxt3{
font-size:18px;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_O7nKQ{
font-size:24px;
text-decoration:none;
}
.vis_lMev51{
background-color:rgba(0,0,0,0.00);
border-width:0px 0px 0px 0px;
text-decoration:none;
}
.vis_if79V2{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(225,225,225);
border-style: solid;
text-decoration:none;
}
.vis_cYM2A{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
}
.vis_PZYxz1{
background-color:rgba(0,0,0,0.00);
text-decoration:none;
}
.vis_odAvj3{
font-size:72px;
font-family:IBM Plex Mono,monospace;
font-weight:700;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_hjUBs1{
font-size:16px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_r6t7A3{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_text_color));
text-decoration:none;
}
.vis_XIc6F1{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0.00) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0.00) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
border-width:1px 0px 0px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_qrLvs3{
border-width:0px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
text-decoration:none;
}
.vis_psHsZ{
color:rgb(var(--tint));
text-decoration:none;
}
.vis_lcyu72{
list-style:none;
text-decoration:none;
}
.vis_SWFkJ2{
text-decoration:none;
}
.vis_s8SID1{
border-width:0px 0px 1px 0px;
border-color:rgb(228,228,228);
border-style: solid;
text-decoration:none;
}
.vis_JD0Y01{
font-size:18px;
font-weight:300;
color:rgba(111,111,111,0.70);
text-decoration:none;
}
.vis_vkCu41{
background-image:radial-gradient(circle, rgb(var(--border_color)) 0.5px, transparent 0px);
background-size: 16px 16px;
background-position: center center;
border-width:1px 0px 1px 0px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
text-decoration:none;
}
.vis_AKoP24{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_eCn7p{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
color:rgb(var(--text_color));
box-shadow:4px 4px 0px 0px rgb(var(--tint));
text-decoration:none;
}
.vis_WwEfq2{
background-color:rgb(var(--background));
text-decoration:none;
}
.vis_9PJMM2{
font-family:DM Mono, monospace;
text-decoration:none;
white-space:pre;
}
.vis_r6Koe{
background-image:linear-gradient(90deg, rgb(0,0,0) 1px, rgba(0,0,0,0.00) 1px),linear-gradient(180deg, rgb(0,0,0) 1px, rgba(0,0,0,0.00) 1px), 
linear-gradient(145.00deg, rgb(13,13,13), rgb(13,13,13), rgb(26,26,26), rgb(10,10,10));
background-clip: border-box, border-box;
background-size: 14px 14px, 14px 14px, 
background-size: 100% 100%;
background-position: center center;
border-width:1px 0px 0px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_ah7k61{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-color:rgb(var(--alternate_border_color));
border-style: solid;
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_RT0se4{
font-size:18px;
font-weight:300;
border-width:0px 0px 1px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_9JUcj2{
font-size:18px;
font-weight:300;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_bgvTf3{
background-color:rgb(var(--background));
cursor:pointer;
font-size:22px;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_0Vauq1{
font-size:14px;
font-family:DM Mono, monospace;
font-weight:600;
color:rgba(var(--code_text_color), 0.20);
text-decoration:none;
}
.vis_SO5xu{
font-size:18px;
font-weight:500;
text-decoration:none;
}
.vis_D8wWh3{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_5eQmY3{
font-size:16px;
font-family:Montserrat, sans-serif;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_xyqWK4{
color:rgb(255,255,255);
text-decoration:none;
}
.vis_lOnR6{
font-size:18px;
font-style:italic;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_v0u3o2{
font-size:16px;
text-decoration:none;
}
.vis_Q110p1{
backdrop-filter:blur(3px);
text-decoration:none;
}
.vis_T0ZW91{
background-color:rgba(var(--tint), 0.10);
background-image:radial-gradient(circle, rgba(var(--tint), 0.30) 0.5px, transparent 0px);
background-size: 6px 6px;
background-position: center center;
border-width:0px 1px 0px 0px;
border-color:rgb(var(--tint));
border-style: solid;
text-decoration:none;
}
.vis_dLRup3{
border-width:0px 0px 1px 0px;
border-color:rgb(255,255,255);
border-style: solid;
text-decoration:none;
}
.vis_rEfE93{
font-size:224px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_MJyxd1{
font-family:IBM Plex Mono,monospace;
text-decoration:none;
}
.vis_Nkq0y3{
font-size:32px;
font-weight:700;
text-decoration:none;
}
.vis_RxzRY1{
font-size:72px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_FzjGF2{
background-color:rgba(0,0,0,0.00);
border-width:0px 1px 0px 0px;
border-color:rgba(0,0,0,0.00);
border-style: solid;
text-decoration:none;
}
.vis_HP0lq2{
background-color:rgb(17,17,16);
border-width:0px 0px 0px 0px;
border-radius:10px;
border-style: solid;
text-decoration:none;
}
.vis_FYpru{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_function_color));
text-decoration:none;
}
.vis_JN8eg3{
font-size:16px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_wR8Z71{
border-width:0px 0px 0px 0px;
border-radius:10px;
border-style: solid;
text-decoration:none;
}
.vis_zTOro2{
fill:rgb(var(--icon_color));
text-decoration:none;
}
.vis_JjXJ13{
border-width:0px 0px 0px 1px;
border-color:rgb(0,0,0);
border-style: solid;
text-decoration:none;
}
.vis_4PFjZ1{
font-size:16px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
font-family:Azeret Mono, monospace;
text-decoration:none;
}
.vis_rjATP3{
font-size:18px;
font-weight:700;
text-decoration:none;
}
.vis_YfxKa4{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_string_color));
text-decoration:none;
}
.vis_w2tSd1{
font-size:24px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_D7Dng2{
font-size:12px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_4XeJX2{
font-size:14px;
font-family:Geist Mono, monospace;
font-weight:300;
font-style:italic;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_jo0Lf4{
font-size:36px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_DArr03{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_RlWTR{
font-size:20px;
font-weight:500;
text-decoration:none;
}
.vis_1pF0t{
font-size:16px;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_bDheb3{
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_U8hVm{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgba(var(--text_color), 0.50);
text-decoration:none;
}
.vis_o8s8D1{
border-width:1px 0px 0px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_42hvJ{
font-size:18px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_SOEte1{
font-size:16px;
text-decoration:none;
transition:100ms ease;
}
.vis_aqMdt{
font-size:64px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_09oGb2{
font-size:80px;
font-weight:900;
font-style:italic;
color:rgb(var(--tint));
text-decoration:none;
white-space:pre;
animation:text-glitch-chromatic 100ms linear normal  3;
}
.vis_z9VOY3{
backdrop-filter:blur(2px);
text-decoration:none;
}
.vis_8DQU01{
background-color:rgb(var(--border_color_light));
border-width:0px 0px 0px 0px;
border-radius:18px;
border-style: solid;
text-decoration:none;
}
.vis_aVSCM1{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_comment_color));
text-decoration:none;
}
.vis_zigIJ3{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
text-decoration:none;
transition:100ms ease;
}
.vis_RIyBA1{
background-color:rgb(var(--alternate_background));
border-width:1px 1px 1px 1px;
border-color:rgb(var(--text_tint_color));
border-style: solid;
color:rgb(255,255,255);
text-decoration:none;
transition:100ms ease;
}
.vis_gyebf{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:0px 0px 0px 0px;
text-decoration:none;
}
.vis_yqiWn1{
background-color:rgb(40,40,40);
border-width:1px 1px 1px 1px;
border-color:rgb(56,55,53);
border-radius:6px;
border-style: solid;
text-decoration:none;
}
.vis_hFiS24{
fill:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_DnSVq{
font-size:14px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_rHh4{
font-size:20px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_zf0v52{
font-size:16px;
font-weight:300;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_otWl43{
font-size:18px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_zS5dP{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0.00) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0.00) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_3Y5ob{
border-width:1px 0px 1px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_8k1G71{
background-color:rgba(0,0,0,0.00);
background-image:radial-gradient(circle, rgb(var(--text_color)) 0.5px, transparent 0px);
background-size: 8px 8px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--text_color));
border-style: solid;
box-shadow:4px 4px 0px 0px rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_3eu9h{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_tint_color));
text-decoration:none;
}
.vis_M5bwP4{
font-size:32px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_86ALb3{
border-width:0px 0px 1px 0px;
border-color:rgba(0,0,0,0.00);
border-style: solid;
list-style:none;
text-decoration:none;
}
.vis_60Swd4{
font-size:18px;
font-weight:100;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_XfJUm{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_Mmuy11{
fill:rgb(255,255,255);
color:rgb(255,255,255);
text-decoration:none;
}
.vis_0f5jh1{
font-size:14px;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_sZTeW3{
font-size:24px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_N8Tfk{
font-size:18px;
text-decoration:none;
}
.vis_Mk2PV2{
font-size:24px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_UzKGL{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(130,170,255);
text-decoration:none;
}
.vis_vo30a4{
font-size:16px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_Gq5qa3{
font-size:20px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.pos_wWbi44{
position:absolute;
bottom:5.00%;
left:20.00%;
}
.pos_Q1Qi11{
position:absolute;
top:-56.00px;
left:-1.00px;
}
.pos_DPkrs2{
position:relative;
z-index:10;
}
.pos_tWhKd2{
position:absolute;
top:1.00%;
left:1.00%;
}
.pos_o4X4v{
position:absolute;
bottom:-56.00px;
left:308.00px;
}
.pos_EzcyX4{
position:absolute;
top:0.00px;
left:0.00px;
}
.pos_WhgdP2{
position:absolute;
top:392.00px;
right:-56.00px;
}
.pos_e8wtf3{
}
.pos_LstSE1{
position:absolute;
right:0.00%;
bottom:0.00%;
}
.pos_cre8F3{
position-anchor:--Flex_4YdjF4-gk;
z-index:1000;
}
.pos_bITd33{
position:fixed;
top:0.00px;
right:0.00%;
left:8.00%;
z-index:400;
}
.pos_ZPBFR3{
position:absolute;
right:1.00%;
bottom:-60.00px;
}
.pos_t0s233{
position:relative;
}
.pos_mKRCe{
position:fixed;
top:8.00%;
right:2.00%;
z-index:999;
}
.pos_rXZzd{
position:absolute;
top:-4.00%;
right:0.00%;
}
.pos_SdsMW2{
position:fixed;
top:0.00px;
right:0.00px;
left:0.00px;
z-index:999;
}
.pos_rLJOu{
position:absolute;
top:0.00%;
left:0.00%;
}
.pos_LpN9l3{
position:absolute;
top:10.00%;
right:20.00%;
}
.pos_FEjf82{
position:fixed;
top:8.00%;
left:8.00%;
z-index:999;
}
.pos_OnY5E4{
position:absolute;
bottom:-4.00%;
left:36.00%;
}
.pos_QjPnQ4{
anchor-name:--Flex_4YdjF4-gk;
}
.mapa_CrkEb2{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_Fls5t{
padding:12px 12px 12px 12px;
margin:0px 0px 0px 0px;
}
.mapa_320yE1{
padding:64px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_FH1H21{
padding:120px 0px 80px 0px;
margin:0px 0px 0px 0px;
}
.mapa_LsvRW3{
padding:0px 0px 0px 0px;
margin:12px 0px 0px 0px;
}
.mapa_V8jPI3{
padding:0px 0px 0px 0px;
margin:64px 0px 0px 0px;
}
.mapa_GjRnP2{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.mapa_WshOF{
padding:0px 12px 0px 12px;
margin:0px 0px 32px 0px;
}
.mapa_G9G2i{
padding:0px 0px 0px 0px;
margin:64px 0px 64px 0px;
}
.mapa_cLPMR{
padding:16px 8px 16px 8px;
margin:0px 0px 0px 0px;
}
.mapa_JuL712{
padding:16px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_Gr8yX{
padding:36px 0px 36px 0px;
margin:0px 0px 0px 0px;
}
.mapa_t79Oh3{
padding:0px 0px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_rPfvm1{
padding:8px 8px 8px 8px;
margin:0px 0px 0px 0px;
}
.mapa_CfvRs{
padding:52px 52px 52px 52px;
margin:0px 0px 0px 0px;
}
.mapa_x8DNe2{
padding:12px 0px 12px 0px;
margin:0px 0px 0px 0px;
}
.mapa_AyNhz{
padding:80px 0px 80px 0px;
margin:0px 0px 0px 0px;
}
.mapa_3GodU4{
padding:0px 0px 0px 0px;
margin:0px 30px 0px 0px;
}
.mapa_ybnu51{
padding:0px 0px 0px 0px;
margin:4px 0px 0px 0px;
}
.mapa_TK4ER4{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_bnttp{
padding:16px 8px 64px 8px;
margin:0px 0px 0px 0px;
}
.mapa_cN7oy3{
padding:0px 0px 0px 0px;
margin:0px 0px 32px 0px;
}
.mapa_4hFg71{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3Qb5v{
padding:10px 8px 10px 8px;
margin:0px 0px 0px 0px;
}
.mapa_VKsEa1{
padding:0px 0px 0px 0px;
margin:0px 0px 0px -16px;
}
.mapa_jigL04{
padding:0px 24px 0px 24px;
margin:0px 0px 0px 0px;
}
.intr_IgbhN:hover{
text-decoration:underline;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_ZSRqZ3:hover{
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_Fn5JI:hover{
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_9uoaP4:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_ZEY8S1:hover{
background-color:rgb(var(--tint));
color:rgb(var(--background));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:scale(1.04) ;
}
.intr_3I4JB3:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:translateX(4.00px) scale(1.05) ;
}
.intr_rBik44:hover{
background-color:rgb(var(--highlight_color));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_HQ6Gt1:hover{
color:rgb(111,111,111);
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_m5kAX3:hover{
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:scale(1.04) ;
}
.intr_K1hSW2:hover{
fill:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_FS0wg:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:translateY(-4.00px) scale(1.05) ;
}
.intr_HI6ex1:hover{
background-color:rgba(var(--tint), 0.10);
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_e4HPO4:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_H5mpL1:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:translateY(4.00px) scale(1.05) ;
}
.intr_QHgsW2:hover{
border-width:0px 0px 1px 0px;
border-color:rgb(var(--text_color));
border-style: solid;
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
@keyframes text-glitch-chromatic {
0.00% {
transform: translateX(0px);
opacity:1;
text-shadow:none;
}
20.00% {
transform: translateX(-8px) skewX(-10deg);
text-shadow:-4px 0px 0px rgb(255,0,0),4px 0px 0px rgb(0,255,255);
}
40.00% {
transform: translateX(10px);
opacity:0.60;
text-shadow:6px 2px 0px rgb(0,255,0),-6px -2px 0px rgb(255,0,255);
}
60.00% {
transform: translateX(-6px) translateY(-4px);
opacity:1;
text-shadow:-8px 0px 2px rgb(255,0,0),8px 0px 2px rgb(0,255,255);
}
80.00% {
transform: translateX(3px) skewX(-3deg);
text-shadow:-2px 0px 0px rgb(255,0,0),2px 0px 0px rgb(0,255,255);
}
100.00% {
transform: translateX(0px) translateY(0px) skewX(0deg);
opacity:1;
text-shadow:none;
}
}
@keyframes opaque-popover-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes opaque-popover-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-fade-out {
from { opacity: 1.00; }
to { opacity: 0.00; }
}
@keyframes opaque-sheet-exit-bottom {
from { bottom: 0.00px; }
to { bottom: -384.00px; }
}
@keyframes opaque-sheet-enter-bottom {
from { bottom: -384.00px; }
to { bottom: 0.00px; }
}
@keyframes opaque-toast-exit {
from { transform: scale(1.00); opacity: 1.00; }
to { transform: scale(0.95); opacity: 0.00; }
}
@keyframes look-around {
0.00% {
transform: translateX(-1.50px) translateY(0px);
}
16.60% {
transform: translateX(-1.50px) translateY(0px);
}
25.00% {
transform: translateX(1.50px) translateY(0px);
}
41.60% {
transform: translateX(1.50px) translateY(0px);
}
50.00% {
transform: translateX(0px) translateY(-1.50px);
}
66.60% {
transform: translateX(0px) translateY(-1.50px);
}
75.00% {
transform: translateX(0px) translateY(0px);
}
91.60% {
transform: translateX(0px) translateY(0px);
}
100.00% {
transform: translateX(-1.50px) translateY(0px);
}
}
@keyframes opaque-sheet-exit-right {
from { right: 0.00px; }
to { right: -384.00px; }
}
@keyframes opaque-sheet-exit-left {
from { left: 0.00px; }
to { left: -384.00px; }
}
@keyframes opaque-tooltip-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes opaque-fade-in {
from { opacity: 0.00; }
to { opacity: 1.00; }
}
@keyframes opaque-sheet-enter-top {
from { top: -384.00px; }
to { top: 0.00px; }
}
@keyframes spin {
from { transform: rotate(0.00deg); }
to { transform: rotate(180.00deg); }
}
@keyframes opaque-combobox-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes blink {
50.00% {
opacity:0;
}
}
@keyframes opaque-select-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes opaque-sheet-enter-left {
from { left: -384.00px; }
to { left: 0.00px; }
}
@keyframes opaque-combobox-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes opaque-table-filter-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-table-filter-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes opaque-tooltip-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-table-textarea-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.50); opacity: 0.00; }
}
@keyframes opaque-sheet-background-exit {
from { opacity: 1.00; }
to { opacity: 0.00; }
}
@keyframes text-glitch {
10.00% {
transform: translateX(-8px) skewX(-12deg);
opacity:0.90;
}
25.00% {
transform: translateX(12px) translateY(-4px) skewX(15deg);
opacity:0;
}
40.00% {
transform: translateX(-6px) translateY(6px) skewX(-8deg);
opacity:1;
}
55.00% {
transform: translateX(4px) translateY(-2px);
opacity:0.50;
}
70.00% {
transform: translateX(-10px) skewX(10deg);
opacity:0.80;
}
85.00% {
transform: translateX(3px) translateY(2px) skewX(-3deg);
opacity:1;
}
100.00% {
transform: translateX(0px) skewX(0deg) translateY(0px);
opacity:1;
}
}
@keyframes opaque-sheet-enter-right {
from { right: -384.00px; }
to { right: 0.00px; }
}
@keyframes opaque-sheet-background-enter {
from { opacity: 0.00; }
to { opacity: 1.00; }
}
@keyframes opaque-table-textarea-enter {
from { transform: scaleY(0.50); opacity: 0.00; }
to { transform: scaleY(1.00); opacity: 1.00; }
}
@keyframes opaque-dialog-exit {
from { transform: scale(1.00); opacity: 1.00; }
to { transform: scale(0.90); opacity: 0.00; }
}
@keyframes opaque-toast-enter {
from { transform: translateY(-20.00px); opacity: 0.00; }
to { transform: translateY(0.00px); opacity: 1.00; }
}
@keyframes opaque-sheet-exit-top {
from { top: 0.00px; }
to { top: -384.00px; }
}
@keyframes glitch {
25.00% {
transform: translateX(-10px);
background-color:rgb(255,0,0);
}
35.00% {
transform: translateX(10px) scaleX(1.10);
background-color:rgb(0,255,0);
}
59.00% {
opacity:0;
background-color:rgb(0,0,255);
}
60.00% {
transform: translateX(-10px) scaleX(0.70);
filter: blur(5px);
opacity:1;
}
100.00% {
filter: blur(5px);
background-color:rgb(255,255,0);
}
}
@keyframes opaque-dialog-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-select-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-toast-enter-bottom {
from { transform: translateY(20.00px); opacity: 0.00; }
to { transform: translateY(0.00px); opacity: 1.00; }
}
